<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card component</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Khmer' rel='stylesheet'>
    <link rel="stylesheet" href="../output.css">
<style>
body {
    font-family: 'Noto Sans Khmer';
}
</style>
</head>
<body>
    <!-- card book -->
    <div class="w-[230px] h-[400px] flex-col justify-start items-start gap-2.5 inline-flex">
        <div class="w-[230px] h-[330px] shadow-[6px_10px_4px_0px_rgba(0,0,0,0.25)] flex-col justify-center items-center flex overflow-hidden">
            <img class="object-contain w-fit h-fit" src="../assets/purple book.jpg" />
        </div>
    
        <div class="w-[230px] h-[70px] -mt-7 flex items-center justify-center">
            <div class="w-full h-full flex justify-center items-center">
                <div class="text-center  text-black text-2xl font-medium font-['Noto Sans Khmer'] [text-shadow:_0px_4px_4px_rgb(0_0_0_/_0.25)]">
                    សង្ឃរា
                </div>
            </div>
        </div>
    </div>
    
    <!-- card author -->
    <div class="w-[350px] h-[398px] flex-col justify-start items-center gap-6 inline-flex">
        <img class="self-stretch h-[350px] rounded-full shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)]" src="../assets/authour.png" />
        <div class="self-stretch h-6 text-center text-black text-[32px] font-bold font-['Noto Sans Khmer'] [text-shadow:_0px_4px_4px_rgb(0_0_0_/_0.25)]">ម៉ៅ ចាន់រស្មី</div>
    </div>


    <!--  -->
    

</body>
</html>