<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="../output.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans Khmer' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<style>
body {
    font-family: 'Noto Sans Khmer';
}
</style>
</head>
<body>
    <footer class="bg-[#F2F6D0]">
        <span class="text-2xl font-[Poppins] cursor-pointer justify-center items-center flex py-2">
            <img class="h-10 inline" src="../assets/logo.png" alt="">
            សៀវភៅគំនិត
        </span>
        <h2 class="text-center text-[30px] text-[#443627]">
            ចាប់ផ្ដើមការអាន​ និងទទួលយកបទពិសោធន៍ថ្មីៗ
            <br> ជាមួយសៀវភៅគំនិត
        </h2>
        <div class="relative justify-center items-center flex py-5 space-x-5">
            <input type="text" class="pl-10 pr-4 py-2 w-1xl border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="អុីម៉ែល...">
            <ion-icon name="person-outline" class="absolute left-117"></ion-icon>
            <button class=" px-4 py-2 bg-[#443627] text-[#D98324] hover:bg-amber-900 hover:text-blue-500 rounded-md">
                <a href="">សាកល្បង</a>
            </button>
        </div>
        <div class="justify-center items-center flex space-x-5">
            <a href=""><ion-icon name="logo-twitter" class="w-[40px] h-[40px]"></ion-icon></a>
            <a href=""><ion-icon name="logo-facebook" class="w-[40px] h-[40px]"></ion-icon></a>
            <a href=""><ion-icon name="logo-instagram" class="w-[40px] h-[40px]"></ion-icon></a>
            <a href=""><ion-icon name="logo-youtube" class="w-[40px] h-[40px]"></ion-icon></a>
        </div>
        <div class="p-5">
            <ul class="flex justify-center items-center space-x-5">
                <li><a href="">ទំព័រដើម</a></li>
                <li><a href="">សៀវភៅ</a></li>
                <li><a href="">អ្នកនិពន្ធ</a></li>
                <li><a href="">ព័ត៌មានបន្ថែម</a></li>
                <li><a href="">អំពីយើង</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>